attrs>=22.0
beautifulsoup4>=4.13.0
blinker
bs4
certifi
charset-normalizer
click
contourpy
cycler
dnspython
exceptiongroup
filelock
Flask
flask-cors
Flask-SQLAlchemy
fonttools
fsspec
greenlet
h11
hf-xet
huggingface-hub
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
kiwisolver
lxml
MarkupSafe
matplotlib
mpmath
networkx
numpy
outcome
packaging
pandas
pillow
playwright
pyee
pymongo
PyMySQL
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
safetensors
selenium
simplejson
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sympy
tokenizers
torch
tqdm
transformers
trio
trio-websocket
tushare
typing_extensions
tzdata
undetected-chromedriver
urllib3
webdriver-manager
websocket-client
websockets
Werkzeug
wsproto
zipp
